div{
border: 1px solid black;
background-color: aqua;
}
p{
animation-name: para;
animation-duration: 5s;
animation-iteration-count: infinite;
}
@keyframes para{
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(-100px);
    }

}